body{
    background-color: #1F2937;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.h-logo{
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
}

ul{
    list-style: none;
    display: flex;
    gap: 10px;
    font-size: 18px;
}

a{
    text-decoration: none;
    color: #E5E7EB;
}

.below-header{
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
}

.main-text{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.sim-text{
    font-size: 18px;
    color: #E5E7EB;
    padding-top: 10px;
    padding-bottom: 10px;
}

button{
    background-color: #3882F6;
    font-size: 18px;
    padding: 5px;
    border: none;
    border-radius: 8px;
    color: #E5E7EB;
}

.header-txt,
.header-image{
    padding: 20px;
}

.random-info{
    background-color: #E5E7EB;
    padding: 30px;
}

.random-header{
    font-size: 32px;
    font-weight: bolder;
    text-align: center;
    padding: 10px;
    padding-bottom: 25px;
    color: #1F2937;
}

.random-container{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.random-image{
    border-radius: 25px;
}

.random-text{
    font-size: 18px;
    text-align: center;
}